.middle {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.buttons {
    display: flex;
    align-items: center;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board th + th {
    border-bottom: 1px solid #000;
}

.chess-board th:first-child,
.chess-board td:last-child {
    border-right: 1px solid #000;
}

.chess-board tr:last-child td {
    border-bottom: 1px solid;
}

.chess-board th:empty {
    border: none;
}

.chess-board td {
    width: 2em;
    height: 2em;
    text-align:center;
    font-size: 48px;
    line-height: 0;
}

.chess-board .light {
    background: #eee;
}

.chess-board .dark {
    background: #aaa;
}
