:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #312e2b;
    --secondary-color: #ffffff;
    --tertiary-color: #F5881F;
    --error-color: #EE3A23;
}

#header {
    cursor: pointer;
    display: inline;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.base-container {
    background-color: #5D5E5E;
}

.intro-title {
    font-family: var(--globalSecondaryFont);
    font-size: clamp(3.6rem,4vw,4.8rem);
    font-weight: 600;
    line-height: 1.13;
    margin-bottom: 1.6rem;
    margin-left: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.side-by-side {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}

chess-piece {
    cursor: pointer;
    user-select: none;
}

.slider {
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    appearance: slider-vertical;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.overlay {
    flex: none;
    height: 352px;
    width: 352px;
    z-index: 10;
    position: absolute;
    opacity: 0.6;
    background: black;
    font-size: 8em;
    font-family: "Times New Roman", Times, serif;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.transparent {
    opacity: 0;
}