:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #312e2b;
    --secondary-color: #ffffff;
    --tertiary-color: #F5881F;
    --error-color: #EE3A23;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 4px 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.base-container {
    background-color: #5D5E5E;
}

.intro-title {
    font-family: var(--globalSecondaryFont);
    font-size: clamp(3.6rem,4vw,4.8rem);
    font-weight: 600;
    line-height: 1.13;
    margin-bottom: 1.6rem;
    margin-left: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.side-by-side {
    display: flex;
    justify-content: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}

.error {
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 8px;
}

chess-piece {
    cursor: pointer;
    user-select: none;
}

/* open source loading spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 16px;
    border: 16px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slider {
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.tableFixHead {
    overflow-x: auto; /* make the table scrollable if width is more than 400 px  */
    width: 800px; /* gives an initial width of 200px to the table */
}